<div class="widget">
    <h5 class="widget-title font-alt">Latest News</h5>
    <ul class="widget-posts">
        {% for item in news %}
            <li class="clearfix">
                <div class="widget-posts-image"><a href="{{ path('News_single',{id:item.id}) }}"><img src="{{ asset(item.image) }}" alt="Post Thumbnail"/></a></div>
                <div class="widget-posts-body">
                    <div class="widget-posts-title"><a href="{{ path('News_single',{id:item.id}) }}">{{ item.name }}</a></div>
                    <div class="widget-posts-meta">{{ item.details|slice(0,25)|raw }} ...</div>
                </div>
            </li>
        {% endfor %}

    </ul>
</div>