{% extends "::single.html.twig" %}

{% block title %}Discussion Panel{% endblock %}

{% block body %}
    <div class="module-extra-small">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <a href="{{ path('Panel_create') }}" class="btn btn-d btn-circle pull-right">+ Create Question</a>
                    <table class="table table-bordered">

                        <tr style="background-color: #666;color: whitesmoke">
                            <th colspan="5" style="text-align: center">Discussion Questions</th>
                        </tr>
                        {% set count = 1 %}
                        {% for item in q %}
                            <tr>
                                <td style="white-space: nowrap;width: 1%">{{ count }}</td>
                                <td><a href="{{ path('Panel_answers',{q:item[0].id}) }}">{{ item[0].question }}</a></td>
                                <td style="white-space: nowrap;width: 1%">{{ item[0].date|date('d/m/Y H:s:i') }}</td>
                                <td style="white-space: nowrap;width: 1%"><span class="badge badge-important">{{ item[1] }}</span> <span class="fa fa-comment"></span></td>
                                <td style="white-space: nowrap;width: 1%">By: {{ item[0].name }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
{% endblock %}
