<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Admin Panel{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('bundles/content/design/img/favicon.png') }}">
    {% block stylesheets %}
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('bundles/content/dist/css/bootstrap-toggle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/content/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/content/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/content/bower_components/Ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/content/bower_components/jvectormap/jquery-jvectormap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/content/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/content/dist/css/skins/_all-skins.min.css') }}">




    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="{{ asset('bundles/content/dist/css/toggle.css') }}" rel="stylesheet">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<script src="{{ asset('bundles/content/bower_components/jquery/dist/jquery.min.js') }}"></script>

<script src="{{ asset('bundles/content/dist/js/shiv.js') }}"></script>
<script src="{{ asset('bundles/content/dist/js/respond.js') }}"></script>
<script src="{{ asset('bundles/content/dist/js/bootstrap-toggle.min.js') }}"></script>
<!-- jQuery 3 -->
<!-- Bootstrap 3.3.7 -->
<script src="{{ asset('bundles/content/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('bundles/content/bower_components/fastclick/lib/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('bundles/content/dist/js/adminlte.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('bundles/content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
<!-- jvectormap  -->
<script src="{{ asset('bundles/content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('bundles/content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
<!-- SlimScroll -->
<script src="{{ asset('bundles/content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ asset('bundles/content/bower_components/Chart.js/Chart.js"') }}></script>
<script src="{{ asset('bundles/content/dist/js/pages/dashboard2.js') }}></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('bundles/content/dist/js/demo.js') }}"></script>
<script src="{{ asset('bundles/content/dist/js/gitcdn.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>

<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a href="" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>AP</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin Panel</b></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->

                    <!-- Tasks: style can be found in dropdown.less -->

                    <!-- User Account: style can be found in dropdown.less -->
                    <!--<li class="dropdown user user-menu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Admin Name</span>
                      </a></li>-->
                    <!-- Control Sidebar Toggle Button -->
                    <!--<li>
                      <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>-->
                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            {% render(controller('AdminBundle:Login:show'))%}
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview menu-open">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class=""><a href=""><i class="fa fa-circle-o"></i> Dashboard</a></li>
                    </ul>
                </li>
                <li class="treeview">
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th"></i>
                        <span>Publications</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <script>
                            function showaddpub(){
                                $('#addpub').show();
                                $('#pub_hide').show();
                            }function hideaddpub(){
                                $('#addpub').hide();
                                $('#pub_hide').hide();
                            }
                        </script>
                        <li><a href="#"><i class="fa fa-plus-circle"></i>
                                <span onclick="showaddpub()">add new category</span>
                                <span id="pub_hide" style="display: none;float: right" onclick="hideaddpub()">hide</span> </a>
                            <div style="margin-left: 40px;display: none" id="addpub">
                                <form id="pubaddform" action="{{ path('admin_homepage_addpub') }}" method="post">
                                    <input type="text" id="pub" name="pub" style="width: 80%;background-color: transparent;color: whitesmoke;border: 1px solid #e2dfdf">
                                    <input type="submit" style="background-color: #0e1a20;color: whitesmoke;border: 0" value="+">
                                </form>
                                <script>
                                    $('#pubaddform').submit(function (e) {
                                        if($('#pub').val() == ""){
                                            alert("There must be any value");
                                            e.preventDefault();
                                        }
                                    })
                                </script>
                            </div>

                        </li>
                        {% render(controller('AdminBundle:Default:publications'))%}
                    </ul>
                </li>
                <script>
                    function showaddinfo(){
                        $('#addinfo').show();
                        $('#info_hide').show();
                    }function hideaddinfo(){
                        $('#addinfo').hide();
                        $('#info_hide').hide();
                    }
                </script>
                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        <span>Info Bank</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="javascript:void(0)">
                                    <i class="fa fa-plus-circle"></i>
                                    <span onclick="showaddinfo()">add new category</span>
                                    <span id="info_hide" style="display: none;float: right" onclick="hideaddinfo()">hide</span> </a>

                            <div style="margin-left: 40px;display: none" id="addinfo">
                                <form id="infoaddform" action="{{ path('admin_homepage_addinfo') }}" method="post">
                                    <input type="text" id="info" name="info" style="width: 80%;background-color: transparent;color: whitesmoke;border: 1px solid #e2dfdf">
                                    <input type="submit" style="background-color: #0e1a20;color: whitesmoke;border: 0" value="+">
                                </form>
                                <script>
                                    $('#infoaddform').submit(function (e) {
                                        if($('#info').val() == ""){
                                            alert("There must be any value");
                                            e.preventDefault();
                                        }
                                    })
                                </script>
                            </div>
                        </li>
                        {% render(controller('AdminBundle:Default:infobank'))%}

                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_news_show') }}">
                        <i class="fa fa-newspaper-o"></i>
                        <span>News</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_rates_index') }}">
                        <i class="fa fa-toggle-down"></i>
                        <span>Daily Rates</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_slider_index') }}">
                        <i class="fa fa-sliders"></i>
                        <span>Slider</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_link_index') }}">
                        <i class="fa fa-link"></i>
                        <span>Important Links</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('panel_index') }}">
                        <i class="fa fa-diamond"></i>
                        <span>Discussion Panel</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user-o"></i>
                        <span>Account</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('adminbundle_users_logout') }}"><i class="fa fa-circle-o"></i>Log Out</a></li>
                        <li><a href="{{ path('adminbundle_users') }}"><i class="fa fa-circle-o"></i>Admins</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        {% block body %}

        {% endblock %}
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        {#<div class="pull-right hidden-xs">
            <b>Developed By : &nbsp; </b> PassionWeb.net
        </div>#}
        <strong>Copyright &copy; 2018-2019 <a href="">Company Name</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->

            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
        </div>
    </aside>

    <div class="control-sidebar-bg"></div>

</div>


<script>
    CKEDITOR.replace('details');
</script>
{% block javascripts %}
{% endblock %}

</body>
</html>
