{% extends "::admin.html.twig" %}
{% block body %}
    <section class="content-header">
        <h1>
            View {{ name }}
        </h1>
    </section>

    <section class="content">
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-offset-1 col-md-10">
                <!-- /.row -->

                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">View {{ name }}<a style="margin-left: 10px" href="{{ path('admin_info_desk',{'action':'new','id':id}) }}"><i class="fa fa-plus-circle"></i></a></h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set count = 1 %}
                                {% for item in fetch %}
                                    <tr>
                                        <td>{{ count }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            <h4 style="margin: 0">
                                                <a href="{{ path('admin_info_desk',{action:'edit',id:item.id}) }}"><i class="fa fa-edit"></i></a>
                                                <a href="{{ path('admin_info_desk',{action:'delete',id:item.id}) }}" style="margin-left: 10px;color: orangered"><i class="fa fa-cut"></i></a>
                                            </h4>
                                        </td>
                                    </tr>
                                    {% set count = count + 1 %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->


            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
