{% extends "::single.html.twig" %}

{% block title %}{{ info.name }}{% endblock %}

{% block body %}

    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="post">
                        <div class="post-header font-alt">
                            <table class="table table-bordered">
                                <tr>
                                    <th >Mandi</th>
                                    <th >Agent</th>
                                    <th >Company</th>
                                    <th >Contact Number</th>
                                    <th >Commodities Traded</th>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle"> {{ detail.mandi }}</td>
                                    <td style="vertical-align: middle">{{ detail.agent }}</td>
                                    <td style="vertical-align: middle">{{ detail.company }}</td>
                                    <td  style="vertical-align: middle">{{ detail.phone }}</td>
                                    <td  style="vertical-align: middle">{{ detail.traded }}</td>
                                </tr>
                            </table>

                        </div>
                        <div class="post-entry">
                            <h4 class="font-alt mt-40 mb-0">More Information</h4>
                            <hr class="divider-w mt-10 mb-20">
                            {{ detail.details|raw }}
                        </div>
                    </div>
                    {#<div class="comments">#}
                        {#<h4 class="comment-title font-alt">There are 3 comments</h4>#}
                        {#<div class="comment clearfix">#}
                            {#<div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="avatar"/></div>#}
                            {#<div class="comment-content clearfix">#}
                                {#<div class="comment-author font-alt"><a href="#">John Doe</a></div>#}
                                {#<div class="comment-body">#}
                                    {#<p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>#}
                                {#</div>#}
                                {#<div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="comment clearfix">#}
                                {#<div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg" alt="avatar"/></div>#}
                                {#<div class="comment-content clearfix">#}
                                    {#<div class="comment-author font-alt"><a href="#">Mark Stone</a></div>#}
                                    {#<div class="comment-body">#}
                                        {#<p>Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>#}
                                    {#</div>#}
                                    {#<div class="comment-meta font-alt">Today, 15:34 - <a href="#">Reply</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="comment clearfix">#}
                            {#<div class="comment-avatar"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="avatar"/></div>#}
                            {#<div class="comment-content clearfix">#}
                                {#<div class="comment-author font-alt"><a href="#">Andy</a></div>#}
                                {#<div class="comment-body">#}
                                    {#<p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>#}
                                {#</div>#}
                                {#<div class="comment-meta font-alt">Today, 14:59 - <a href="#">Reply</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="comment-form">#}
                        {#<h4 class="comment-form-title font-alt">Add your comment</h4>#}
                        {#<form method="post">#}
                            {#<div class="form-group">#}
                                {#<label class="sr-only" for="name">Name</label>#}
                                {#<input class="form-control" id="name" type="text" name="name" placeholder="Name"/>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<label class="sr-only" for="email">Name</label>#}
                                {#<input class="form-control" id="email" type="text" name="email" placeholder="E-mail"/>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<textarea class="form-control" id="comment" name="comment" rows="4" placeholder="Comment"></textarea>#}
                            {#</div>#}
                            {#<button class="btn btn-round btn-d" type="submit">Post comment</button>#}
                        {#</form>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
