<ul class="nav navbar-nav navbar-right">
    <li ><a  href="{{ path('home_homepage') }}">Home</a></li>
    <li ><a  href="{{ path('News_index') }}">Latest News</a></li>
    <li ><a  href="{{ path('Panel_index') }}">Discussions</a></li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Publications</a>
        <ul class="dropdown-menu">
            {% for item in pubs %}
                <li><a href="{{ path('home_homepage_pubs',{id:item.id,name:item.name}) }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Information Bank</a>
        <ul class="dropdown-menu">
            {% for item in info %}
                <li><a href="{{ path('home_homepage_infos',{id:item.id,name:item.name}) }}">{{ item.name }}</a></li>
            {% endfor %}
            <li ><a  href="{{ path('home_homepage_infos_chart') }}">Price Chart</a></li>
            <li ><a  href="{{ path('home_info_desk',{id:0,name:'view'})}}">Farmers</a></li>
            <li ><a  href="{{ path('home_info_desk',{id:1,name:'view'}) }}">Cooperate</a></li>
            <li ><a  href="{{ path('home_info_desk',{id:2,name:'view'}) }}">Exporters</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">External</a>
        <ul class="dropdown-menu">
            {% for item in link %}
                <li><a href="{{ item.path }}" target="_blank">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">About</a>
        <ul class="dropdown-menu">
                <li><a href="{{ path('Info_about') }}">About Us</a></li>
                <li><a href="{{ path('Info_contact') }}">Contact Us</a></li>
        </ul>
    </li>
</ul>